@page
@model JegyzetekWebApp.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Jegyzetek</h1>
<form>
    <label for="UjKartya">Új kártya létrehozása: </label>
    <input type="text" name="UjKartya" id="UjKartya" />
    <button onclick="ujKartya()">Létrehozás</button>
</form>
@{int db = 0;}
@foreach(var k in Model.Kartyak)
{
    if(db % 3 == 0)
    {
        @: <div class="row">
    }
    <div class="card col-4">
        <h2 class="card-header"><span style="display:inline-block; width:78%;">@k.Nev</span> <a href="" onclick="kartyaTorlese(@k.Id)" style="display:inline-block; width:18%; text-align: right;">&#x1F5D1;</a></h2>
            <div class="card-body">
                <ul>
                    @foreach(var t in k.Teendok){
                        <li>@t.Tartalom <a href="" onclick="teendoTorlese(@t.Id)">&#x1F5D1;</a></li>
                    }<li>
                        <form>
                            <input type="text" name="ujTeendo" id="@("ujTeendo" + k.Id)"/>
                            <button onclick="ujSor(@k.Id)">Ok</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    if (db % 3 == 2 || Model.Kartyak.Count == db)
    {
        @: </div>
    }
    db++;
}




<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teendo[0].Tartalom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teendo[0].Letrehozve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teendo[0].Modositva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teendo[0].Kesz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teendo[0].Kartya)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teendo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tartalom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Letrehozve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modositva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kesz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kartya.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
