@page
@model JegyzetekWebApp.Pages.TeendoListajaModel

@{
    ViewData["Title"] = "TeendoListaja";
}

<h1>TeendoListaja</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teendo[0].Tartalom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teendo[0].Letrehozve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teendo[0].Modositva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teendo[0].Kesz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teendo[0].Kartya)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teendo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tartalom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Letrehozve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modositva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kesz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kartya.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
